<nav class="navbar navbar-light bg-light">
<%= link_to "HomePage", lists_path,class:"btn btn-dark" %>
<br>
</nav>
<br>
<br>
<div class="container w-50">
<h3>Add New Genre</h3>
<br>
<br>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>
</div>
