<nav class="navbar navbar-light bg-light">
<%= link_to "HomePage", lists_path, class:"btn btn-dark" %>
<br>
<%= link_to "Back to list", list_path(@list.id), class:"btn btn-primary" %>
</nav>
<br>
<br>
<h3>Add New Bookmark</h3>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>
